<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "社員番号" %><br>
    <%= f.text_field :emp_id %>
  </div>
  <div class="field">
    <%= f.label "社員名称" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "生年月日" %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label "電話番号1" %><br>
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label "電話番号2" %><br>
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label "郵便番号" %><br>
    <%= f.text_field :post_number %>
  </div>
  <div class="field">
    <%= f.label "住所" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "備考欄" %><br>
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
