<div class="modal-dialog">
  <div class="modal-content">

    <%= form_for(@user, remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">社員データ登録</h4>
          <!-- エラーログを表示する。 -->
          <div class="error-notice"></div>
      </div>
      <div class="modal-body">

      <div class="field">
        <%= f.label "社員番号" %><br>
        <%= f.text_field :emp_id %>
      </div>

      <div class="field">
        <%= f.label "社員名称" %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label "生年月日" %><br>
        <%= f.select :year, ((Time.now.year - 20)..Time.now.year).to_a, selected: @user.birthday.year %>
        <%= f.select :month, (1..12).to_a, selected: @user.birthday.month %>
        <%= f.select :day, (1..31).to_a, selected: @user.birthday.day %>
      </div>

      <div class="field">
        <%= f.label "電話番号1" %><br>
        <%= f.text_field :phone1 %>
      </div>

      <div class="field">
        <%= f.label "電話番号2" %><br>
        <%= f.text_field :phone2 %>
      </div>

      <div class="field">
        <%= f.label "郵便番号" %><br>
        <%= f.text_field :post_number %>
      </div>

      <div class="field">
        <%= f.label "住所" %><br>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label "備考欄" %><br>
        <%= f.text_area :other %>
      </div>
      
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save", :class => "btn btn-primary" %>
        </div>
      </div>
      
    <% end %>

  </div>
</div>