<p id="notice"><%= notice %></p>

<p>
  <strong>社員番号</strong>
  <%= @user.emp_id %>
</p>

<p>
  <strong>社員名称</strong>
  <%= @user.name %>
</p>

<p>
  <strong>生年月日</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>電話番号1</strong>
  <%= @user.phone1 %>
</p>

<p>
  <strong>電話番号2</strong>
  <%= @user.phone2 %>
</p>

<p>
  <strong>郵便番号</strong>
  <%= @user.post_number %>
</p>

<p>
  <strong>住所</strong>
  <%= @user.address %>
</p>

<p>
  <strong>備考欄</strong>
  <%= @user.other %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
